<section id="proyectos" data-nav="theme-dark">
  <div class="projects-container reveal">
    <div class="projects-content">
      <div class="projects-text-box">
        <h2 class="section-title-left">Conoce nuestros proyectos más destacados</h2>
        <p class="projects-subtitle">Nuestros proyectos más destacados e importantes</p>
        <div class="projects-btn-wrapper">
          <app-button variant="primary" href="#">Conócelos</app-button>
        </div>
      </div>
      <div class="projects-image-box">
        <img 
          src="https://images.unsplash.com/photo-1551434678-e076c223a692?w=800"
          alt="Proyecto Destacado TechEngineers" 
          class="project-featured-img">
      </div>
    </div>
  </div>
</section>

